@import url('https://fonts.googleapis.com/css?family=Khula:400,600,700');
/*@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .col {
     color:red;
    }
}*/
body{
  color: #bebebe;
  font-family:'Khula', sans-serif;
  font-size: 100%;
}
header{
  background-image: url(images/background3.jpg);
  /* Use viewport height */
  height: 100vh;
  background-size: cover;
  /* Center Content on page*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  min-height: 310px;
}
header h1{
  font-weight: bold;

}
h2{
  padding: 30px;
}
h3{
  font-size: 1.2rem;
}
form{
padding-bottom: 25px;
}
footer{
  height: 100%;
  background-color: #454545;
  padding: 30px;
}
footer a{
  text-decoration: none;
  color: #33996e;
  padding: 10px;
}
footer a:hover{
  color: #bebebe;
}
/*FRONT PAGE ANIMATION*/
.hidden {
  opacity:0;
}
.console-container {
  font-weight: bold;
  /*in px before*/
  font-size:1.6rem;
  text-align:center;
  height:200px;
  display:block;
  position:relative;
  top:30px;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  color:white;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:-10px;
}
/*BUTTON STYLING AND SIZING CLASSES*/
.button-main{
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #33996e;
  display: inline-block;
  position: relative;
  bottom: 30px;
  color: #ffffff;
  border: none #33996e 3px;
  text-align: center;
  width: 165px;
  height: 50px;
  margin: 0 auto;
  border-radius: 40px;
  transition: All .4s;
  transition-timing-function: ease-in-out;
}
.button-main:hover {
  transform: scaleX(1.1);
  background-color: #676767;
  border: none #33996e 2px;
  color: #ffffff;
}
.button-projects{
  background-color: #33996e;
  color: #cdd0d0;
  border: none #33996e 3px;
  text-align: center;
  width: 150px;
  height: 40px;
  margin: 15px auto;
  border-radius: 40px;
  transition: All .4s;
  transition-timing-function: ease-in-out;
}
/*Try to make width transform only*/
.button-projects:hover{
  transform: scaleX(1.05);
  background-color: rgb(103, 103, 103);
  border: none #454545 2px;
  color: #ffffff;
}
.button-submit{
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #454545;
  margin: 0 auto;
  display:block;
  position: relative;
  bottom: 20%;
  color: #cdd0d0;
  border: none #33996e 3px;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  transition: All .4s;
  transition-timing-function: ease-in-out;
}
.button-submit:hover{
  transform: scaleX(1.1);
  background-color: #5e5959;
  border: none;
  color: #ffffff;
}
.background-green{
  background-color: #33996e;
}
.container-fluid {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 0;
 }
.add-space{
  padding: 12px;
  height: 100%;
}
.center{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.image-circle{
  border-radius: 55%;
}
.image-icon-128{
  width: 128px;
  height: 128px;
}
.add-top-padding{
  padding-top: 22px;
}
.add-margin{
  margin-top: 35px;
  margin-bottom: 35px;
}
.date{
  text-align: right;
  font-style: italic;
  font-weight: bold;
}
.list-style-main{

}
.list-style{
  font-weight: lighter;
  font-size: 90%;
}

/*AUTO SCROLL ANIMATION*/
#scroller{
  color: #35bb83;
  display: inline-block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  bottom: 5px;
  top:auto;
  left: 0;
  right: 0;
  transition: .3s;
  transition-timing-function: ease-in-out;
}
#scroller p {
  margin-bottom: inherit;
  font-size: 1.1rem;

}
#scroller:hover{
  color: #454545;
}
#skills{
  background-color: #33996e;
  padding-bottom: 10px;
}
#form-container{
  background-color: #33996e;
}
/*ERROR MESSAGES*/
#error{
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}
#success{
  position: relative;
  top: 30px;
  margin-top: 30px;
}
#download a{
  text-decoration: none;
  color: #323232;
}

/*Adlust Modal Width*/
.modal-dialog {
  max-width: 650px;
  margin: 30px auto;
}
/*Fix issue with safari by adjusting flex setting and
fixed margins on skiil section*/
.col{
  padding-left: 5px;
  padding-right: 5px;
  margin:0;
  flex: 1 0 20%; // where 50% is the intended size of the items*/
}
}
.container-fluid .col{
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 2px;
  padding-left: 2px;

}
#left-list{
  padding-left: 15px;
}
#right-list{
  padding-right: 15px;
}
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
}
